MINERU_API_KEY=<you_api_key>
VL_MODEL_API_KEY=<>
VL_MODEL_BASE_URL=<>
VL_MODEL_NAME=<>
VL_MODEL_TEMPERATURE=<>
LLM_MODEL_NAME=<>

# ====================
# Object Storage (MinIO)
# ====================
# MinIO 服务端点
MINIO_ENDPOINT=<>
# 访问密钥
MINIO_ACCESS_KEY=<>
# 私有密钥
MINIO_SECRET_KEY=<>
# 存储桶名称
MINIO_BUCKET_NAME=<>
# 图片上传目录
MINIO_IMG_DIR=<>

# ====================
# Object Storage (Embedding)
# ====================


# 嵌入模型
EMBEDDING_MODEL=<>
# 向量化设备
DEVICE=<>
# 精度训练
USE_FP16=<>